<div class="container">
  <h1> Query Selector </h1>
  <!-- Container for selecting queries and input box -->
  <div class="queryContainer">
    <div class="buttons">
      <!-- Query 1 -->
      <button type="button" class="button collapsible">1)  Are there any shows/movies on both Netflix and Disney+ that were added to Netflix after 2019?</button>
      <div class="content">
        <code>
          <pre>
            SELECT DISTINCT ?title WHERE &#123;
              ?media rdf:type ?type;
                entertainment:title ?title;
                entertainment:addedToNetflix ?date;
                entertainment:provider dbpr:Netflix;
                entertainment:provider dbpr:DisneyPlus;
                FILTER(?date > "2019-01-01T00:00:00Z"^^xsd:dateTime)
                FILTER((?type = entertainment:Movie) || (?type = entertainment:TVShow))
            &#125;
          </pre>
        </code>
        <button class="runCodeBtn" (click)="getQueryResponse(this.query1)"> Run </button>
      </div>
      <!-- Query 2 -->
      <button type="button" class="button collapsible">2)  Compare the percentages of movies/shows on offer from the United States by Disney+ and Netflix.</button>
      <div class="content">
        <code>
          <pre>
            SELECT ((?netflixUS* 100 / ?netflixAll) as ?totalNetflix) ((?disneyUS* 100 / ?disneyAll) as ?totalDisney) 
            WHERE
            &#123;
            &#123;
            SELECT DISTINCT (COUNT(*) AS ?netflixUS) WHERE &#123;
              	?movie rdf:type ?type;
               	 entertainment:provider dbpr:Netflix;
                	entertainment:country "United States".
              	FILTER((?type = entertainment:Movie) || (?type = entertainment:TVShow))
            &#125;
            &#125;

            &#123;
            SELECT DISTINCT (COUNT(*) AS ?netflixAll) WHERE &#123;
              	?movie rdf:type ?type;
                	entertainment:provider dbpr:Netflix.
             	 FILTER((?type = entertainment:Movie) || (?type = entertainment:TVShow))
            &#125;
            &#125;

            &#123;
            SELECT DISTINCT (COUNT(*) AS ?disneyUS) WHERE &#123;
              	?movie rdf:type ?type;
               	 entertainment:provider dbpr:DisneyPlus;
                	entertainment:country "United States".
              	FILTER((?type = entertainment:Movie) || (?type = entertainment:TVShow))
            &#125;
            &#125;

            &#123;
            SELECT DISTINCT (COUNT(*) AS ?disneyAll) WHERE &#123;
              	?movie rdf:type ?type;
                	entertainment:provider dbpr:DisneyPlus.
             	 FILTER((?type = entertainment:Movie) || (?type = entertainment:TVShow))
            &#125;
            &#125;
            &#125;
          </pre>
        </code>
        <button class="runCodeBtn" (click)="getQueryResponse(this.query2)"> Run </button>
      </div>
      <!-- Query 3 -->
      <button type="button" class="button collapsible">3)  Are there any Netflix movies with the same director as a different Disney+ movie?</button>
      <div class="content">
        <code>
          <pre>
            SELECT DISTINCT ?title1 ?director WHERE &#123;
              ?movie rdf:type entertainment:Movie;
                entertainment:title ?title1;
                entertainment:provider dbpr:Netflix;
                entertainment:director ?director.
              ?movie2 rdf:type entertainment:Movie;
                entertainment:title ?title2;
                entertainment:provider dbpr:DisneyPlus;
                entertainment:director ?director.
              FILTER(?title1 != ?title2)
            &#125;
          </pre>
        </code>
        <button class="runCodeBtn" (click)="getQueryResponse(this.query3)"> Run </button>
      </div>
      <!-- Query 4 -->
      <button type="button" class="button collapsible">4)  Is the most common rating of US Netflix shows/movies different to that of US Disney+ ones? (e.g. MA vs PG)</button>
      <div class="content">
        <code>
          <pre>
            SELECT ?topNetflixRating ?topDisneyRating WHERE &#123;
              &#123;
                SELECT ?topNetflixRating WHERE &#123;
                  BIND(?rating AS ?topNetflixRating)
                  ?media rdf:type ?type;
                    entertainment:title ?title;
                    entertainment:provider dbpr:Netflix;
                    entertainment:rating ?rating;
                    entertainment:country "United States".
                  FILTER((?type = entertainment:Movie) || (?type = entertainment:TVShow))
                &#125;
                GROUP BY ?topNetflixRating ?title
                ORDER BY DESC (COUNT(?title))
                LIMIT 1
              &#125;
              UNION
              &#123;
                SELECT ?topDisneyRating WHERE &#123;
                  BIND(?rating AS ?topDisneyRating)
                  ?media rdf:type ?type;
                    entertainment:title ?title;
                    entertainment:provider dbpr:DisneyPlus;
                    entertainment:rating ?rating;
                    entertainment:country "United States".
                  FILTER((?type = entertainment:Movie) || (?type = entertainment:TVShow))
                &#125;
                GROUP BY ?topDisneyRating ?title
                ORDER BY DESC (COUNT(?title))
                LIMIT 1
              &#125;
            &#125;
          </pre>
        </code>
        <button class="runCodeBtn" (click)="getQueryResponse(this.query4)"> Run </button>
      </div>
      <!-- Query 5 -->
      <button type="button" class="button collapsible">5)  On average, are Disney+ movies or Netflix movies longer in duration?</button>
      <div class="content">
        <code>
          <pre>
            SELECT (AVG(?netflixDuration) AS ?nDuration) (AVG(?disneyDuration) AS ?dDuration) WHERE &#123;
              &#123;
                SELECT ?netflixDuration WHERE &#123;
                  ?movie rdf:type entertainment:Movie;
                    entertainment:provider dbpr:Netflix;
                    entertainment:duration ?netflixDuration.
                &#125;
              &#125;
              &#123;
                SELECT ?disneyDuration WHERE &#123;
                  ?movie rdf:type entertainment:Movie;
                    entertainment:provider dbpr:DisneyPlus;
                    entertainment:duration ?disneyDuration.
                &#125;
              &#125;
            &#125;
          </pre>
        </code>
        <button class="runCodeBtn" (click)="getQueryResponse(this.query5)"> Run </button>
      </div>
      <!-- Query 6 -->
      <button type="button" class="button collapsible">6)  What are the top 10 Disney movies with a rating of G on Disney+, based on box office revenue?</button>
      <div class="content">
        <code>
          <pre>
            SELECT DISTINCT ?title ?revenue WHERE &#123;
              ?movie rdf:type entertainment:Movie;
                entertainment:title ?title;
                entertainment:provider dbpr:DisneyPlus;
                entertainment:rating "G";
                entertainment:revenue ?revenue.
            &#125;
            ORDER BY DESC (?revenue)
            LIMIT 10
          </pre>
        </code>
        <button class="runCodeBtn" (click)="getQueryResponse(this.query6)"> Run </button>
      </div>
      <!-- Query 7 -->
      <button type="button" class="button collapsible">7)  What Disney+ movies with a single director had a budget of less than 4 million?</button>
      <div class="content">
        <code>
          <pre>
            SELECT DISTINCT ?title ?director WHERE &#123;
              ?movie rdf:type entertainment:Movie;
                entertainment:title ?title;
                entertainment:provider dbpr:DisneyPlus;
                entertainment:director ?director;
                entertainment:budget ?budget.
              FILTER(?budget < 4000000 )
              FILTER (!regex(?director, ","))
            &#125;
          </pre>
        </code>
        <button class="runCodeBtn" (click)="getQueryResponse(this.query7)"> Run </button>
      </div>
      <!-- Query 8 -->
      <button type="button" class="button collapsible">8)  What Netflix movies added to the website in 2021 have an IMDB rating of 8+? </button>
      <div class="content">
        <code>
          <pre>
            SELECT DISTINCT ?title ?imdbRating WHERE &#123;
              ?movie rdf:type entertainment:Movie;
                entertainment:title ?title;
                entertainment:provider dbpr:Netflix;
                entertainment:addedToNetflix ?date;
                entertainment:imdbRating ?imdbRating.
              FILTER(?date > "2021-01-01T00:00:00Z"^^xsd:dateTime)
              FILTER(?imdbRating > 8.0)
            &#125;
          </pre>
        </code>
        <button class="runCodeBtn" (click)="getQueryResponse(this.query8)"> Run </button>
      </div>
      <!-- Query 9 -->
      <button type="button" class="button collapsible">9)  What are the top 5 Disney movies with a duration of 100+ minutes on Rotten Tomatoes? </button>
      <div class="content">
        <code>
          <pre>
            SELECT ?title ?duration ?rating WHERE &#123;
              ?movie rdf:type entertainment:Movie;
                entertainment:title ?title;
                entertainment:provider dbpr:DisneyPlus;
                entertainment:rottenTomatoesRating ?rating;
                entertainment:duration ?duration.
              FILTER(?duration >= 100 )
            &#125;
            GROUP BY ?rating ?duration ?title
            ORDER BY DESC (?rating)
            LIMIT 5
          </pre>
        </code>
        <button class="runCodeBtn" (click)="getQueryResponse(this.query9)"> Run </button>
      </div>
      <!-- Query 10 -->
      <button type="button" class="button collapsible">10)  Of all the Disney+ movies with a budget of less than 2 million, which has the highest rating on IMDB? </button>
      <div class="content">
        <code>
          <pre>
            SELECT ?title ?rating ?budget WHERE &#123;
              ?movie rdf:type entertainment:Movie;
                entertainment:title ?title;
                entertainment:provider dbpr:DisneyPlus;
                entertainment:budget ?budget;
                entertainment:imdbRating ?rating.
              FILTER(?budget < 2000000 )
            &#125;
            GROUP BY ?rating ?title ?budget
            ORDER BY DESC (?rating)
            LIMIT 1
          </pre>
        </code>
        <button class="runCodeBtn" (click)="getQueryResponse(this.query10)"> Run </button>
      </div>
    </div>
    
    <!-- input query box -->
    <div>
    <div class="prefixes">
      <code>
        <pre>
          {{prefixes}}
        </pre>
      </code>
    </div>
      <div class="inputQuery">
        <textarea value="{{queryInput}}" [(ngModel)]="queryInput"></textarea>
        <button class="clearTableBtn" (click)="getQueryResponse(queryInput)"> Submit </button>
      </div>
    </div>
  </div>
  
  <h1> Responses: </h1>
  
  <!-- Response table -->
  <button *ngIf="queryResponses.length > 0" class="clearTableBtn" (click)="clearData()"> Clear table </button>
  <table *ngIf="queryResponses.length > 0">
    <!-- Table headings -->
    <tr>
      <th *ngFor="let header of queryHeaders"> {{header}} </th>
    </tr>
      <!-- print triples -->
      <tr *ngFor="let query of queryResponses">
        <ng-container *ngFor="let header of queryHeaders">
          <ng-container *ngFor="let item of query | keyvalue"> 
            <td *ngIf="item.key == header"> {{item.value}}</td>
          </ng-container>
        </ng-container>
      </tr>
  </table>
  
  <!-- Messages displayed based on interface state -->
  <div *ngIf="!requestReceived && !loading"> {{noResultsMessage}} </div>
  <div *ngIf="loading"> {{loadingMessage}} </div>
</div>
