table, th, td {
  border:1px solid black;
}

th, td {
  padding:10px;
}

table {
  margin-top:20px;
}

textarea {
  width: 600px;
  height: 400px;
  font-size: 18px;
}

.container {
  text-align: left;
}

.buttons {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.button {
  width: 300px;
  padding:10px;
}

.clearTableBtn {
  padding:10px;
  font-size: 15px;
  background-color: #c7defa;
  border: 1;
}

.clearTableBtn:hover {
  cursor:pointer;
  background-color: #e4eefc;
}

.prefixes {
  width: 487px;
  font-size: 15px;
}

.queryContainer {
  display:flex;
}

.runCodeBtn {
  float:right;
  margin-bottom: 10px;
}

.runCodeBtn:hover {
  cursor:pointer;
}

.collapsible {
  background-color: #c7defa;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #e4eefc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  font-size: 15px;
}